<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet">
    <title>Online-voting</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        input#name:invalid:focus {
            border: 1px solid red;
        }
    </style>
</head>

<body>
    <!--home page-->
    <div class="relative flex min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-gray-50 ">
        <div
            class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
            <div class="mx-auto max-w-md">
                <a href="/" class="hover:text-pink-400 content-center"> <%- include('header.ejs') %> </a>
                <p class="text-2xl">Welcome to Online Voting</p>
                <p>New here? <a href="/signup" class="text-pink-500">signup now</a></p>
                <p>Already have an account?<a href="/login" class="text-pink-600"> login now</a></p>

            </div>
        </div>
</body>

</html>