<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <link href="./css/style.css" rel="stylesheet">
    <title>Online-voting</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <!--home page-->
    <div class="grid grid-cols-6">
        <div class=" col-start-3 col-span-2">
            <a href="/" class="hover:text-pink-400"><%- include('header.ejs') %> </a>
                <p>Welcome to Online Voting</p>
                <p>New here? <a href="/signup" class="text-pink-500">signup now</a></p>
                <p>Already have an account?<a href="/login" class="text-pink-600"> login now</a></p>

        </div>
    </div>
</body>

</html>